In [2]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [3]:
movies = pd.read_csv("./ml-1m/movies.dat",
                    sep="::",
                    header=None,
                    engine='python',
                    encoding='latin-1')

In [4]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [5]:
users =  pd.read_csv("./ml-1m/users.dat",
                    sep="::",
                    header=None,
                    engine='python',
                    encoding='latin-1')

In [6]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [7]:
ratings = pd.read_csv("./ml-1m/ratings.dat",
                    sep="::",
                    header=None,
                    engine='python',
                    encoding='latin-1')

In [8]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [9]:
training_set = pd.read_csv("./ml-100k/u1.base",
                          delimiter="\t")

In [10]:
training_set.head()

   1  1.1  5  874965758
0  1    2  3  876893171
1  1    3  4  878542960
2  1    4  3  876893119
3  1    5  3  889751712
4  1    7  4  875071561

In [11]:
# user 1 rated movie 2, 3 stars

In [12]:
training_set = np.array(training_set,
                        dtype='int')

In [13]:
test_set = pd.read_csv("./ml-100k/u1.test",
                          delimiter="\t")
test_set = np.array(test_set,
                        dtype='int')

In [14]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]),max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]),max(test_set[:,1])))

In [15]:
# convert data into array with users in row movies in col
def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0]==id_users]
        id_ratings = data[:,2][data[:,0]==id_users] 
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [16]:
# converting the data into Torch tensors
training_set = torch.FloatTensor(training_set)

In [17]:
test_set = torch.FloatTensor(test_set)

In [18]:
#convert the ratings into binary ratings 1 (liked) and 0 (not liked)
training_set[training_set == 0] = -1 
training_set[training_set == 1] = 0
training_set[training_set == 2] = 0 
training_set[training_set >= 3] = 1

In [19]:
test_set[test_set == 0] = -1 
test_set[test_set == 1] = 0
test_set[test_set == 2] = 0 
test_set[test_set >= 3] = 1

In [20]:
# creating the architecture of th NN
class SAE(nn.Module):
    def __init__(self):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20) # first full conn related to AE
                        # 20 nodes in first layer based on experiment
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20) # decoding
        self.fc4 = nn.Linear(20, nb_movies) # decoding
        self.activation = nn.Sigmoid()
    
    def forward(self, x):
        x = self.activation(self.fc1(x)) # x is the input we encode it to get the new input for other layers
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x) # as it is last layer no need to activate
        return x

In [23]:
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr=0.01, weight_decay=0.5) # rmsprop or adam
                                                        # decay reduces lr per epoch

In [26]:
# training the SAE
nb_epoch = 200
for epoch in range(1,nb_epoch+1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0) # creating abtch
        target = input.clone()
        if torch.sum(target.data>0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data>0)+1e-10) # 1e-10 to preven div by 0
            loss.backward()
            train_loss += np.sqrt(loss.data[0]*mean_corrector)
            s += 1.
            optimizer.step()
    print("epoch %s train loss %s"%(epoch,train_loss/s))

epoch 1 train loss 1.82798624412
epoch 2 train loss 1.82802893396
epoch 3 train loss 1.8285193833
epoch 4 train loss 1.82764103203
epoch 5 train loss 1.82806072787
epoch 6 train loss 1.8273230385
epoch 7 train loss 1.82769977666
epoch 8 train loss 1.82626810181
epoch 9 train loss 1.82679140303
epoch 10 train loss 1.82542770814
epoch 11 train loss 1.8299314668
epoch 12 train loss 1.82685539901
epoch 13 train loss 1.8273053466
epoch 14 train loss 1.82601864739
epoch 15 train loss 1.82688608681
epoch 16 train loss 1.82673168651
epoch 17 train loss 1.82749747508
epoch 18 train loss 1.82671417672
epoch 19 train loss 1.82716760723
epoch 20 train loss 1.82547779526
epoch 21 train loss 1.82536338848
epoch 22 train loss 1.82634005517
epoch 23 train loss 1.8267282068
epoch 24 train loss 1.82424911443
epoch 25 train loss 1.82548006971
epoch 26 train loss 1.82469146715
epoch 27 train loss 1.82602284409
epoch 28 train loss 1.82550487027
epoch 29 train loss 1.82711138501
epoch 30 train loss 1.82543619723
epoch 31 train loss 1.82588056747
epoch 32 train loss 1.82480040832
epoch 33 train loss 1.82521417096
epoch 34 train loss 1.82482191026
epoch 35 train loss 1.82584419327
epoch 36 train loss 1.82393965417
epoch 37 train loss 1.82479622551
epoch 38 train loss 1.82282428198
epoch 39 train loss 1.82313485711
epoch 40 train loss 1.82199469596
epoch 41 train loss 1.82235409038
epoch 42 train loss 1.82278478228
epoch 43 train loss 1.82359278202
epoch 44 train loss 1.82577217512
epoch 45 train loss 1.82426567511
epoch 46 train loss 1.82330578915
epoch 47 train loss 1.82409024045
epoch 48 train loss 1.82467986525
epoch 49 train loss 1.82431983166
epoch 50 train loss 1.82362869166
epoch 51 train loss 1.82320158516
epoch 52 train loss 1.82256496964
epoch 53 train loss 1.8234676403
epoch 54 train loss 1.82400366263
epoch 55 train loss 1.82419813477
epoch 56 train loss 1.82359207939
epoch 57 train loss 1.8236583099
epoch 58 train loss 1.82279808023
epoch 59 train loss 1.82284333949
epoch 60 train loss 1.8228729612
epoch 61 train loss 1.82149070423
epoch 62 train loss 1.82136193027
epoch 63 train loss 1.82111196285
epoch 64 train loss 1.82092997821
epoch 65 train loss 1.82167622228
epoch 66 train loss 1.82103307958
epoch 67 train loss 1.82136495239
epoch 68 train loss 1.82281602305
epoch 69 train loss 1.81972046956
epoch 70 train loss 1.81956613054
epoch 71 train loss 1.81986413085
epoch 72 train loss 1.82315324262
epoch 73 train loss 1.82060005193
epoch 74 train loss 1.82128702611
epoch 75 train loss 1.82074670122
epoch 76 train loss 1.82063026809
epoch 77 train loss 1.82056512372
epoch 78 train loss 1.82089326924
epoch 79 train loss 1.82088901473
epoch 80 train loss 1.81851996814
epoch 81 train loss 1.82005328461
epoch 82 train loss 1.81817471622
epoch 83 train loss 1.81905047403
epoch 84 train loss 1.81809239794
epoch 85 train loss 1.81892929907
epoch 86 train loss 1.81746837025
epoch 87 train loss 1.81837979649
epoch 88 train loss 1.81938264366
epoch 89 train loss 1.81998784977
epoch 90 train loss 1.81898678367
epoch 91 train loss 1.81996137057
epoch 92 train loss 1.82027700082
epoch 93 train loss 1.81844143153
epoch 94 train loss 1.81949004221
epoch 95 train loss 1.8183280147
epoch 96 train loss 1.81959935666
epoch 97 train loss 1.81935451288
epoch 98 train loss 1.81716862769
epoch 99 train loss 1.81810395163
epoch 100 train loss 1.81673781156
epoch 101 train loss 1.81640940418
epoch 102 train loss 1.81745940014
epoch 103 train loss 1.81574140198
epoch 104 train loss 1.81639075968
epoch 105 train loss 1.81691191211
epoch 106 train loss 1.81623687979
epoch 107 train loss 1.81608987454
epoch 108 train loss 1.81718706795
epoch 109 train loss 1.8190972295
epoch 110 train loss 1.81742535702
epoch 111 train loss 1.81618013849
epoch 112 train loss 1.81557708493
epoch 113 train loss 1.81820388911
epoch 114 train loss 1.81756852898
epoch 115 train loss 1.81642932952
epoch 116 train loss 1.81555417058
epoch 117 train loss 1.81558919971
epoch 118 train loss 1.81608710001
epoch 119 train loss 1.81674337769
epoch 120 train loss 1.81614211682
epoch 121 train loss 1.81701701561
epoch 122 train loss 1.81769040057
epoch 123 train loss 1.81630039577
epoch 124 train loss 1.81483313345
epoch 125 train loss 1.81746185765
epoch 126 train loss 1.81763015429
epoch 127 train loss 1.81660795733
epoch 128 train loss 1.81631250616
epoch 129 train loss 1.81623446143
epoch 130 train loss 1.81704100737
epoch 131 train loss 1.81656027002
epoch 132 train loss 1.81646100183
epoch 133 train loss 1.81632652599
epoch 134 train loss 1.8156600578
epoch 135 train loss 1.81635336246
epoch 136 train loss 1.8141523189
epoch 137 train loss 1.81726239507
epoch 138 train loss 1.81624466735
epoch 139 train loss 1.81646539545
epoch 140 train loss 1.81560725938
epoch 141 train loss 1.8160385258
epoch 142 train loss 1.81627378834
epoch 143 train loss 1.8163604467
epoch 144 train loss 1.81729776866
epoch 145 train loss 1.81785128996
epoch 146 train loss 1.81627886417
epoch 147 train loss 1.81665889208
epoch 148 train loss 1.81478216406
epoch 149 train loss 1.81499112195
epoch 150 train loss 1.81427044406
epoch 151 train loss 1.81663225901
epoch 152 train loss 1.8145656478
epoch 153 train loss 1.813996839
epoch 154 train loss 1.81445067099
epoch 155 train loss 1.81180668735
epoch 156 train loss 1.81046502298
epoch 157 train loss 1.81214308994
epoch 158 train loss 1.81182793196
epoch 159 train loss 1.8110481828
epoch 160 train loss 1.80988816654
epoch 161 train loss 1.81189092021
epoch 162 train loss 1.81031519201
epoch 163 train loss 1.81143937333
epoch 164 train loss 1.80926927084
epoch 165 train loss 1.81206528268
epoch 166 train loss 1.80982015392
epoch 167 train loss 1.81147048606
epoch 168 train loss 1.81046603946
epoch 169 train loss 1.80887779563
epoch 170 train loss 1.80640395414
epoch 171 train loss 1.8085236238
epoch 172 train loss 1.80970151275
epoch 173 train loss 1.80719886182
epoch 174 train loss 1.80720845094
epoch 175 train loss 1.80805238162
epoch 176 train loss 1.80789706829
epoch 177 train loss 1.80777024487
epoch 178 train loss 1.80484637046
epoch 179 train loss 1.80689478372
epoch 180 train loss 1.80677980139
epoch 181 train loss 1.80545849713
epoch 182 train loss 1.80771753187
epoch 183 train loss 1.80570422087
epoch 184 train loss 1.80427153432
epoch 185 train loss 1.80709229301
epoch 186 train loss 1.80609357885
epoch 187 train loss 1.80549632307
epoch 188 train loss 1.80387129466
epoch 189 train loss 1.80109867736
epoch 190 train loss 1.80157420855
epoch 191 train loss 1.80413401213
epoch 192 train loss 1.80216934904
epoch 193 train loss 1.80138073808
epoch 194 train loss 1.80068624811
epoch 195 train loss 1.80217409306
epoch 196 train loss 1.80089397718
epoch 197 train loss 1.80143328459
epoch 198 train loss 1.79983266919
epoch 199 train loss 1.79921852681
epoch 200 train loss 1.80121637157

In [ ]:
# loss should be less than 1

In [ ]:
# Testing the SAE

In [27]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0) # creating abtch
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data>0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data>0)+1e-10) # 1e-10 to preven div by 0
        test_loss += np.sqrt(loss.data[0]*mean_corrector)
        s += 1.

print("test loss %s"%(test_loss/s))

test loss 2.24569293067